.table {
  border-collapse: collapse;
  width: 100%;
  vertical-align: middle;
}

.table__cell--header {
  background-color: #b0c4de;
}

.table__cell {
  border: 2px solid white;
  padding: 15px;
  text-align: center;
}

.caption{
  text-align: start;
}